.nav-wrap {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.nav-wrap h2 {
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
}

.linkBtn {
  display: flex;
  width: 100%;
  justify-content: end;
}

.linkBtn span {
  cursor: pointer;
  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}
